#journalarea{
	#journalimage{
		margin-top:-20px;
		height:50vh;
		background-image: url("../assets/journalarea/headerimage.jpg");
		background-size:cover;
		background-attachment:fixed;

	}
}
#journaltext{
	h3{
		padding-top:30px;
	}
	p {
		padding:30px; 
}
}