@import "_app.scss";
@import "_animate.scss";
@import "_normalize.scss";
@import "_set1.scss";
@import "_cards.scss";

//first section
#branchimage{
	margin-top:-20px;
	height:50vh;
	background-size:cover;
	background-attachment:fixed;
	background-position:center;
	background: url("../assets/branches/mechanical.jpg");
	h2{
color:#fff;
padding-top:20vh;
}
p{
	color:#fff;
}
}
@import "_journals.scss";
@import "_journalarea.scss";

